[Desktop Entry]
Name=Overseer
Comment=Manage systemd services
Exec=overseer
Icon=overseer.svg
Type=Application
Categories=System;Monitor;
Terminal=false
